pip==25.0
timm==0.4.12
fairscale==0.4.4
pycocoevalcap
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.48.3
triton==3.2.0
numpy==2.0.2
pillow==11.2.1
scipy==1.13.1
safetensors==0.5.2
requests==2.32.3
tokenizers==0.21.0
clip @ git+https://github.com/openai/CLIP.git
urllib3==2.3.0
zipp==3.21.0